<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="assets/app.css">
    <!-- endbuild -->
</head>

<body ng-app="busUiApp">
    <div ng-controller="AppCtrl" layout="column" layout-fill>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft($event)">
                    <ng-md-icon icon="{{icon}}" size="48px" options='{"duration": 375}'></ng-md-icon>
                </md-button>
                <h3>
                    <span>A que hora pasa?</span>
                </h3>
            </div>
        </md-toolbar>
        <md-content style="height: 600px;">
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">No es tu parada?</h1>
                </md-toolbar>
                <md-content ng-controller="LeftCtrl" class="md-padding">
                    <md-list>
                        <md-item ng-click="goTo('')">
                            <ng-md-icon icon="home" size="36px"></ng-md-icon>
                            <p class="md-subhead">Inicio</p>
                        </md-item>
                        <md-item ng-click="goTo('searchAddress')">
                            <ng-md-icon icon="map" size="36px"></ng-md-icon>
                            <p class="md-subhead"> Buscar en mapa</p>
                        </md-item>
                        <md-divider></md-divider>
                        <md-item>
                            <ng-md-icon icon="directions" size="36px"></ng-md-icon>
                            <p class="md-subhead">  Buscar por calle</p>
                        </md-item>
                        <md-divider></md-divider>
                        <md-item>
                            <ng-md-icon icon="directions_bus" size="36px"></ng-md-icon>
                            <p class="md-subhead"> Ver por recorrido de linea</p>
                        </md-item>
                    </md-list>
                </md-content>
            </md-sidenav>
            <div ng-view>

            </div>
        </md-content>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    ! function(A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- endbuild -->
</body>

</html>
