<div class="md-margin">
    <md-whiteframe class="md-whiteframe-z1 md-padding" layout layout-align="right" style="min-height:80px;">
        <div class="contentIconLine" layout="column" flex="15" layout-align="center center">
            <div layout="row" layout-align="center start">
                <div flex="100">
                    <ng-md-icon icon="directions_bus" style="fill:rgb(181, 178, 178);" size="48px"></ng-md-icon>
                </div>
            </div>
            <div layout="row" layout-align="center start">
                <div flex="100">
                    <span class="busLine">494</span>
                </div>
            </div>
        </div>
        <div layout="column" flex="80" layout-align="space-around start">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="busName">BUCEO</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="busTime">10:45</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                         <span class="busName">PASO DE LA ARENA</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="busTime">10:45</span>
                    </div>
                </div>
            </div>
        </div>
        <!--<div layout="column" flex="80" layout-align="space-around start">
            <div layout="row" flex="100" layout-align="start center">
                <div layout="column" flex="100" layout-align="space-around start">
                    <div layout="row" flex="100" layout-align="start center">
                        <span class="busName">BUCEO</span>
                    </div>
                    <div layout="row" flex="100" layout-align="end center">
                        <span class="busTime">10:45</span>
                    </div>
                </div>
            </div>
            <div layout="row" flex="100" layout-align="start center">
                <div layout="column" flex="100" layout-align="space-around start">
                    <div layout="row" flex="100" layout-align="start center">
                        <span class="busName">PASO DE LA ARENA</span>
                    </div>
                    <div layout="row" flex="100" layout-align="end center">
                        <span class="busTime">10:45</span>
                    </div>
                </div>
            </div>
        </div>-->
    </md-whiteframe>
</div>
